<h1 class="index-name">投稿一覧</h1>
<% @articles.each do |article| %>
  <h2 class="articles-title"><%= link_to article.title, article_path(article.id) %></h2>

<%= link_to "削除", article_path(article.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<% end %>

