<h1 class="article-title">投稿詳細</h1>

<h2 class="article">タイトル</h2>
<div class="article-link"><%= @article.title %></div>
<h2 class="article">本文</h2>
<div class="article-link"><%= @article.body %></div>
<h2 class="article">著者</h2>
<div class="article-link"><%= @article.author %></div>